<section>

  <main class="container">
  <h2> About Us </h2>
  <p>This store features a range of products that are very dear to us. We are a small start up and huge fans of the outdoors which is why this webpage is called Jungle.</p>
  <p>We have encountered horrible service from other ecommerce websites which is why we created this site and ensure that all our customers leave 100% satisfied. </p>
  </main>

</section>


